body {
    font-family: "Montserrat", Arial;
    background-color: lightblue;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
.hidden-button {
    position: absolute;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    background-color: #000000;
    padding: 0.5rem;
    width: 66%;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 0rem;
    margin: 0rem;
}
.hidden-button:focus {
    transform: translateY(0%);
}
#contianer {

}
#divaside {
    position: fixed;
    height: 100%;
    width: 66%;
    left: 0;
}
#asidebox {
    margin: 5px;
    background-image: linear-gradient(#ff6666, #ff8c66, #ffb366, #ffd966, #ffff66, #d9ff66, #b3ff66, #8cff66, #66ff66);
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 17px;
}



#divtop {
    position: fixed;
    height: 50%;
    width: 34%;
    right: 0;
    top: 0;
}
#topbox {
    margin: 5px;

    background-image: linear-gradient(#ff6666, #ff8c66, #ffb366, #ffd966, #ffff66);
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 17px;
}



#divbottom {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 34%;
}
#bottombox {
    margin: 5px;
    background-image: linear-gradient(#ffff66, #d9ff66, #b3ff66, #8cff66, #66ff66);
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 17px;
}



#cookiebanner {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    border: 3px solid;
    border-radius: 7px;
    text-align: center;
}

#h2 {
    color: #000000;
}

#pealkiri {
    position: fixed;
    text-shadow: 2px 2px 5px blue;
    font-size: 100px;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    }

#pealkiri::before {
    content: "Tere_tulemast";
    position: fixed;
    text-shadow: 2px 2px 5px blue;
    font-size: 50px;
    top: -33px;
}
#toptitle {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    position: fixed;
    top: 28px;
    left: 83%;
    transform: translateX(-50%);
}
#maintext {
    position: fixed;
    font-size: 20px;
    text-align: justify;
    width: 18.5%;
    top: 25%;
    left: 82.5%;
    transform: translate(-50%, -50%);
}
#bottomtitle {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    position: fixed;
    top: calc(50% + 28px);
    left: 83%;
    transform: translateX(-50%);
}
#maintextAll {
    position: fixed;
    font-size: 20px;
    text-align: justify;
    width: 18.5%;
    top: 75%;
    left: 82.5%;
    transform: translate(-50%, -50%);
}
/* #yt-link {
    position: fixed;
    right: 0;
    bottom: 0;
} */