html { 
    color-scheme: light dark; 
}
body { 
    width: 30em; 
    margin: 0 auto;
    font-family: sans-serif, Tahoma, Verdana, Arial; 
    color:aliceblue;
    --text: #e1e4ef;
    --background: ##070708;
    --primary: #b5bed9;
    --secondary: #131825;
    --accent: #5a6eaa;
}

.kast {
    border-radius: 5px;
    background-color: black;
    padding: 1px 15px;
}
h1 {
    font-size: xx-large;
    font-weight: bold;
}
p {
    font-size: x-large;
}