@font-face {
  font-family: 'Monument';
  src: url('font/monument/MonumentExtended-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

html {
  cursor: none;
  background: #0C1826 top/cover no-repeat url("index.png");
  font-family: sans-serif, Tahoma, Verdana, Arial; 
}
.cursor-track {
  position: relative;
}
.txt {
  position: fixed;
  font-family: Monument, "Arial Black", Arial, sans-serif;
  font-size: 200px;
  color: #162c45;
  letter-spacing: -12px;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.759);
  transform: translate(-50%, -125%);
}