@font-face {
    font-family: 'serpentineboldoblique';
    src: url('Serpentine BoldOblique.ttf') format('woff2'),
         url('Serpentine BoldOblique.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}