html {
/*     background-image: url('syntwaveByKIDMOGRAPH.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden; */
  }
  
body {
    display: grid;
    height: 100vh;
    margin: 0rem;
    place-items: center;
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    cursor: url('/cursor-dino.png'), auto;
  }
  
.kvlopuni {
    font-size: 1.5rem;
    display: none;
}
  
/* 
    font-size: clamp(3rem, 5vw, 10rem);
    color: #fea99d;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
 */

.progress {
  width: 400px;
  max-width: 85vw;
  height: 4px;
  position: absolute;
  bottom: 20vh;
  left: 50%;
  border-radius: 4px;
  background: rgba(white, .5);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
&:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: white;
  animation: load 15s linear;
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}